<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morse Code App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/learn">Learn</a> |
        <a href="/quiz">Encode</a> |
        <a href="/decode">Decode</a> |
        <a href="/history">History</a>
        {% if session.username %}
            | <a href="/logout">Logout</a>
        {% else %}
            | <a href="/login">Login</a>
            | <a href="/register">Register</a>
        {% endif %}
    </nav>
    <hr>
    {% block konten %}{% endblock %}
</body>
</html>
